<ul class="navbar-nav">
    <li class="menu-item">
        <a routerLink="/">Home</a>
        <!-- <ul class="sub-menu">
            <li class="menu-item"> <a routerLink="/">Home v1</a> </li>
            <li class="menu-item"> <a routerLink="/home-v2">Home v2</a> </li>
        </ul> -->
    </li>
    <li class="menu-item menu-item-has-children">
        <a routerLink="/projects">Projects</a>
        <ul class="sub-menu">
            <!-- <li class="menu-item menu-item-has-children">
                <a routerLink="/blog-grid">Blog Archive</a>
                <ul class="sub-menu">
                    <li class="menu-item"> <a routerLink="/blog-grid">Grid View</a> </li>
                    <li class="menu-item"> <a routerLink="/blog-list">List View</a> </li>
                </ul>
            </li> -->
            <li class="menu-item"> <a routerLink="/project-details">Project Details</a> </li>
        </ul>
    </li>
    <li class="menu-item">
        <a routerLink="/services">Services</a>
        <!-- <ul class="sub-menu">
            <li class="menu-item"> <a routerLink="/about">About Us</a> </li>
            <li class="menu-item"> <a routerLink="/contact">Contact Us</a> </li>
            <li class="menu-item"> <a routerLink="/services">Services</a> </li>
            <li class="menu-item"> <a routerLink="/project-details">Project Details</a> </li>
            <li class="menu-item"> <a routerLink="/projects">Projects</a> </li>
        </ul> -->
    </li>
    <li class="menu-item">
        <a routerLink="/about">About Us</a>
        <!-- <ul class="sub-menu">
            <li class="menu-item"> <a routerLink="/shop">Shop</a> </li>
            <li class="menu-item"> <a routerLink="/product-single">Product Details</a> </li>
            <li class="menu-item"> <a routerLink="/cart">Cart</a> </li>
            <li class="menu-item"> <a routerLink="/checkout">Checkout</a> </li>
            <li class="menu-item"> <a routerLink="/wishlist">Wishlist</a> </li>
        </ul> -->
    </li>
    <li class="menu-item">
        <a routerLink="/contact">Contact Us</a>
    </li>
</ul>