<breadcrumb #parent>
    <!-- Subheader Start -->
    <div class="header-absolute"></div>
    <div class="sigma_subheader dark-bg">
        <img src="{{breadcrumbtexture}}" class="texture-5" alt="">
        <!-- Irregular Shapes -->
        <div class="sigma_shapes irregular">
            <div class="irregular-shape irregular-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#2d2d2d" fill-opacity="1"
                        d="M0,32L48,74.7C96,117,192,203,288,202.7C384,203,480,117,576,101.3C672,85,768,139,864,154.7C960,171,1056,149,1152,165.3C1248,181,1344,235,1392,261.3L1440,288L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z">
                    </path>
                </svg>
            </div>
            <div class="irregular-shape irregular-2 primary-bg"></div>
            <div class="irregular-shape irregular-3">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill="#ff1944" fill-opacity="1"
                        d="M0,320L21.8,304C43.6,288,87,256,131,229.3C174.5,203,218,181,262,170.7C305.5,160,349,160,393,181.3C436.4,203,480,245,524,224C567.3,203,611,117,655,106.7C698.2,96,742,160,785,176C829.1,192,873,160,916,154.7C960,149,1004,171,1047,154.7C1090.9,139,1135,85,1178,64C1221.8,43,1265,53,1309,96C1352.7,139,1396,213,1418,250.7L1440,288L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z">
                    </path>
                </svg>
            </div>
        </div>
        <!-- Circles -->
        <div class="sigma_shapes circles">
            <div class="circle circle-md circle-1 primary-bg"></div>
            <div class="circle circle-md circle-2 primary-bg"></div>
        </div>
        <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
            <div class="container">
                <div class="sigma_subheader-inner">
                    <h1 class="stroke-text">{{ route.displayName }}</h1>
                </div>
            </div>
        </ng-template>
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <ul class="sigma_menu-vertical">
                        <li class="vertical-toggler subheader-toggler" (click)='openExtra()'>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </li>
                        <app-smallmenu class="sigma_menu-vertical"></app-smallmenu>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="sigma_sm">
                        <li> <a routerLink="/"> <i class="fab fa-facebook-f"></i> </a> </li>
                        <li> <a routerLink="/"> <i class="fab fa-instagram"></i> </a> </li>
                        <li> <a routerLink="/"> <i class="fab fa-twitter"></i> </a> </li>
                        <li> <a routerLink="/"> <i class="fab fa-linkedin-in"></i> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sigma_subheader-extras" [ngClass]="extracheck ? '' : 'open'">
            <div class="subheader-toggler close-dark close-btn" (click)="closeExtra()">
                <span></span>
                <span></span>
            </div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-5">
                        <div class="sigma_map">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.9914406081493!2d2.292292615201654!3d48.85837360866272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e2964e34e2d%3A0x8ddca9ee380ef7e0!2sEiffel%20Tower!5e0!3m2!1sen!2sin!4v1571115084828!5m2!1sen!2sin"
                                allowfullscreen=""></iframe>
                        </div>
                    </div>
                    <div class="offset-md-1 col-md-6">
                        <div class="sigma_contact-info">
                            <div class="sigma_contact-info-item">
                                <h6>Location</h6>
                                <p>121 King Street, Melbourne Victoria</p>
                                <p>3000, Autstralia</p>
                            </div>
                            <div class="sigma_contact-info-item">
                                <h6>Mail Box</h6>
                                <p>phantom.info@gmail.com</p>
                            </div>
                            <div class="sigma_contact-info-item">
                                <h6>Mail Box</h6>
                                <p>(+555) 666 777 888 999</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Subheader End -->
</breadcrumb>