<div class="row">
    <div class="col-md-6">
        <div class="sigma_product-single-thumb">
            <img src="{{image}}" alt="">
        </div>
    </div>
    <div class="col-md-6">
        <div class="sigma_product-single-content">
            <h4 class="entry-title"> Koobay 14" Wooden Trousers Bottom Clips Hangers w Rose Gold. </h4>
            <div class="sigma_product-price">
                <span>352$</span>
                <span>245$</span>
            </div>
            <div class="sigma_rating-wrapper">
                <div class="sigma_rating">
                    <i class="far fa-star active"></i>
                    <i class="far fa-star active"></i>
                    <i class="far fa-star active"></i>
                    <i class="far fa-star active"></i>
                    <i class="far fa-star"></i>
                </div>
                <span>255 Reviews</span>
            </div>
            <p> <strong class="mr-2">Interested: <span>05</span></strong> <strong>Availablity: <span>In Stock</span></strong> </p>
            <p class="sigma_product-excerpt">Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
            <form class="sigma_product-atc-form">
                <div class="sigma_product-variation-wrapper">
                    <div class="sigma_product-radio form-group">
                        <label>
                            <input type="radio" name="size" value="" checked>
                            <span>XS</span>
                        </label>
                        <label>
                            <input type="radio" name="size" value="">
                            <span>S</span>
                        </label>
                        <label>
                            <input type="radio" name="size" value="">
                            <span>M</span>
                        </label>
                        <label>
                            <input type="radio" name="size" value="">
                            <span>L</span>
                        </label>
                        <label>
                            <input type="radio" name="size" value="">
                            <span>XL</span>
                        </label>
                    </div>
                </div>
                <div class="qty-outter">
                    <a routerLink="/product-single" class="sigma_btn-custom secondary">Buy Now</a>
                    <div class="qty-inner">
                        <h6>Qty:</h6>
                        <div class="qty">
                            <span class="qty-subtract" (click)="decrement()"><i class="fa fa-minus"></i></span>
                            <input type="text" name="qty" value="{{counter}}">
                            <span class="qty-add" (click)="increment()"><i class="fa fa-plus"></i></span>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Post Meta Start -->
            <div class="sigma_post-single-meta">
                <div class="sigma_post-single-meta-item sigma_post-share">
                    <h6>Share</h6>
                    <ul class="sigma_sm">
                        <li>
                            <a routerLink="/">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sigma_post-single-meta-item">
                    <div class="sigma_product-controls">
                        <a routerLink="/" placement="top" ngbTooltip="Compare"> <i class="far fa-signal-4"></i> </a>
                        <a routerLink="/" placement="top" ngbTooltip="Wishlist"> <i class="far fa-heart"></i> </a>
                    </div>
                </div>
            </div>
            <!-- Post Meta End -->
        </div>
    </div>
</div>